roles {
    role platform {
        composed-skill writing-system-improvement-vocab
        composed-skill design-system
        composed-skill "coding-*"
    }

    role sysadmin {
        composed-skill writing-system-improvement-vocab
        composed-skill "tooling-sysadmin-*"
        composed-skill "coding-*"
    }

    role eval {
        composed-skill design-system
        composed-skill "tooling-eval-*"
        composed-skill "coding-*"
    }

    role frontend {
        composed-skill design-system
        composed-skill tooling-tpm-product-brainstorming
        composed-skill tooling-tpm-product-signal-triangulation
        composed-skill tooling-tpm-program-decomposition
        composed-skill "coding-javascript*"
        composed-skill "tooling-frontend-*"
        composed-skill "personal-preference-*"
        composed-skill "personal-preferences"
        composed-skill "writing-*-voice"
    }

    role gamedev {
        composed-skill design-system
        composed-skill coding-csharp
        composed-skill coding-rust
        composed-skill coding-python
        composed-skill coding-javascript
        composed-skill "coding-core-*"
        composed-skill "tooling-frontend-*"
        composed-skill "personal-preference-*"
        composed-skill "personal-preferences"
    }

    role tpm {
        composed-skill tooling-code-review
        composed-skill tooling-skill-authoring
        composed-skill writing-system-improvement-vocab
        composed-skill "tooling-tpm-*"
        composed-skill "tooling-issue-*"
        composed-skill "tooling-scout-*"
        composed-skill "writing-voice-*"
        composed-skill "coding-shape-*"
        composed-skill "coding-core-*"
    }

    role devrel {
        composed-skill tooling-discord-community-host
        composed-skill "writing-*"
        composed-skill "tooling-devrel-*"
        composed-skill "personal-preference-*"
        composed-skill "personal-preferences"
    }
}
