roles {
    // engineer: write code, merge code, stay focused on your goal
    role engineer {
        // guardfiles for day to day read (defaults)
        guardfile "guardfile.forgejo.read.kdl"
        guardfile "guardfile.forgejo.readactions.kdl"
        // guardfiles for dev
        guardfile "guardfile.forgejo.write.kdl"
        guardfile "guardfile.forgejo.merge.kdl"
        // make the agents average everyday fellows
        agent claude {
            model claude-sonnet-5
            reasoning-effort medium
        }
        agent codex {
            model gpt-5.5
            reasoning-effort medium
        }
    }
    // director: pair with the human on high level goals
    role director {
        // guardfiles for day to day read (defaults)
        guardfile "guardfile.forgejo.read.kdl"
        guardfile "guardfile.forgejo.readactions.kdl"
        // guardfiles for project management
        guardfile "guardfile.forgejo.write.kdl"
        guardfile "guardfile.forgejo.merge.kdl"
        // guardfiles for ops
        guardfile "guardfile.aws.kdl"
        guardfile "guardfile.tailscale.kdl"
        guardfile "guardfile.kubectl.kdl"
        guardfile "guardfile.forgejo.runnertoken.kdl"
        // make the agents as smart as they come
        agent claude {
            model claude-fable-5
            reasoning-effort xhigh
        }
        agent codex {
            model gpt-5.6-sol
            reasoning-effort xhigh
            verbosity medium
        }
    }
    // advisor: in depth research and analysis
    role advisor {
        // guardfiles for day to day read (defaults)
        guardfile "guardfile.forgejo.read.kdl"
        guardfile "guardfile.forgejo.readactions.kdl"
       // guardfiles for ops
        guardfile "guardfile.aws.kdl"
        guardfile "guardfile.tailscale.kdl"
        guardfile "guardfile.kubectl.kdl"
        // make the agents lil bit smart
        agent claude {
            model claude-opus-4-8
            reasoning-effort high
        }
        agent codex {
            model gpt-5.5
            reasoning-effort high
        }
    }
    // qa: pair with engineers on polishing code
    role qa {
        // guardfiles for day to day read (defaults)
        guardfile "guardfile.forgejo.read.kdl"
        guardfile "guardfile.forgejo.readactions.kdl"
        // make the agents average everyday fellows
        agent claude {
            model claude-sonnet-5
            reasoning-effort medium
        }
        agent codex {
            model gpt-5.5
            reasoning-effort medium
        }
    }
    // ops: investigate live systems and apply modifications and remidiation
    role ops {
        // guardfiles for day to day read (defaults)
        guardfile "guardfile.forgejo.read.kdl"
        guardfile "guardfile.forgejo.readactions.kdl"
        // guardfiles for ops
        guardfile "guardfile.aws.kdl"
        guardfile "guardfile.tailscale.kdl"
        guardfile "guardfile.kubectl.kdl"
        guardfile "guardfile.forgejo.runnertoken.kdl"
        // make the agents as smart as they come
        agent claude {
            model claude-fable-5
            reasoning-effort xhigh
        }
        agent codex {
            model gpt-5.6-sol
            reasoning-effort xhigh
            verbosity medium
        }
    }
    // pm: autonomous triage and project management
    role pm {
        // guardfiles for day to day read (defaults)
        guardfile "guardfile.forgejo.read.kdl"
        guardfile "guardfile.forgejo.readactions.kdl"
        // guardfiles for project management
        guardfile "guardfile.forgejo.write.kdl"
        guardfile "guardfile.forgejo.merge.kdl"        
        // make the agents average everyday fellows
        agent claude {
            model claude-sonnet-5
            reasoning-effort medium
        }
        agent codex {
            model gpt-5.5
            reasoning-effort medium
        }
    }
}
